.row{
    padding-bottom: 1rem;
}

body{    
    background-color: aliceblue;
    color:  mediumseagreen;
    padding-top: 90px;
    padding-bottom: 70px;
}

.button {

    /* background-color: #17a2b8;
    border-color: #17a2b8; */
    background-color: mediumseagreen;
    border-color: mediumseagreen;
    color: aliceblue;
}

.link, .link:hover{
    color:mediumseagreen;
    text-decoration-line: none !important;
}

.right{

    float: right;
}

sub{
    bottom: -2rem;
    float: left;
}

sub.content{
    float: none;
    bottom: -0.8rem;
    position: relative;    
}

.logo{
    height: 50px;
    width: 40px;
}

.heading{
    color: indigo;
    text-align: center;
}